footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: smaller;
}

p {
  max-width: 61ch;
}

a.onion-link {
  text-decoration: none;
  color: #7D4698;
}

a.onion-link::before {
  content: "🧅";
  margin-right: 3px;
}

table {
  caption-side: bottom;
}

caption {
  padding: 2em;
}

figcaption {
  font-size: smaller;
  text-align: center;
}

.reading-table :is(th, td):nth-of-type(1),
.reading-table :is(th, td):nth-of-type(2) {
  white-space: nowrap;
}

.books_in_year {font-size: 200%;}

@media (max-width: 768px) {
  .reading-table thead {
    display: none;
  }

  .reading-table tbody,
  .reading-table tr,
  .reading-table td {
    display: block;
    width: 100%;
  }

  .reading-table tr {
    margin-bottom: 2rem;
  }

  .reading-table td {
    position: relative;
    text-align: right;
    padding-left: 45%;
    border: none;
    border-bottom: 1px solid lightgrey;
	font-size: 95%;
  }

  .reading-table td:last-child {
    border-bottom: none;
  }

  .reading-table td::before {
    content: attr(data-label) ":";
    position: absolute;
    left: 1rem;
    font-weight: bolder;
    text-align: left;
  }

  .reading-table .stars {
    display: inline-block;
  }

  .year-selector {
    flex-direction: column;
    align-items: flex-start;
  }

}